.docs {
    background: #eee;
    font-size: 16px;
}
.docs .grid {
    background: #fff;
    padding: 0 30px;
    min-height: 730px;
}
ul.toc {
    /* border-radius: 5px; */
    overflow: hidden;
    list-style-type: none;
    margin: 18px 0 20px 0;
    padding: 0;
    /*border: 1px solid #ccc;*/
    border-right: 1px solid #ddd;
}
ul.toc > li:first-child {
    border-bottom: 1px solid #ddd;
}
ul.toc > li {
    /*border-bottom: 1px solid #ccc;*/
    background: /*#eee;*/ #fff;
}
ul.toc > li:last-child {
    border-bottom: none;
}
ul.toc li  a {
    padding: 8px 10px;
    display: block;
    width: 100%;
    height: 100%;
    color: /*#272b30;*/ #999;
}
ul.toc li a:hover {
    text-decoration:none;
    background: /*#ddd;*/ #eee;
}
ul.toc > li > ul {
    margin: 0;
    padding:0;
    list-style-type: none;    
}
    
ul.toc > li > ul > li {
    /*border-top: 1px solid #dadada;*/
}
ul.toc > li > ul > li a {
    padding: 6px 6px 6px 30px;
}


ul.toc > li  a.active {
    color: /*#fff;*/ #333;
    background: /*#a8a8a8;*/ #ddd;
}


.docs-content a {
    color: #aa6767;
}

.docs-content img {
    max-width: 100%;
}
.docs-content pre {
    padding: 4px 10px;
    background: #444;
    color: #FFF7BB;
    border-radius: 3px;
}
pre,code {
    font-family: 'PT Mono', Monospace;
}
code {
    font-size: 0.95em;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
