body {
    background: #272b30;
}
.collapse {
    display: block;
}
.shadow {
    box-shadow: 0px 0px 20px #676767;
}
.brand,h1,h2,h3,h4,h5 {
    font-family: 'Roboto Slab', serif;
    text-shadow: none;
}

.brand {
    font-weight: 400 !important;
}
.brand img {
    height: 20px;
    margin-top: -4px;
    margin-right: 5px;
}
.main-content {
    color: #676767;
}
.navbar-inverse .navbar-inner {
    background: #272b30;
    border:none;
}
.navbar {
    background: #272b30;
    border:none;
}

.navbar ul li a {
    height: 48px;
    line-height: 2em;
}
.main-content {
    background: #fff;
    border-radius: 3px;
}
.main-content a {
    color: #aa6767;
}
li.active {
    border-color: #676767 !important;
    border-left: 1px solid;
    border-right: 1px solid;
}

.banner {
    padding: 20px 15px;
    background: #eee;
    margin: 50px 0 20px 0;
}    
.bottom-banner {
    margin-bottom: 0;
}
.banner h1 {
    color: #676767;
    font-weight: bold;
}
.lead {
    color: #9a9a9a;
}
.screenshot {
    box-shadow: 15px 15px 50px #676767; 
}

.navbar-fixed-top {
    margin-bottom: 0;
}
.footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.8em;
}

.alert {
    text-shadow: none;
}

ul.toc {
    border-radius: 5px;
    overflow: hidden;
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    border: 1px solid #ccc;
}
ul.toc li {
    border-bottom: 1px solid #ccc;
    background: #eee;
}
ul.toc li:last-child {
    border-bottom: none;
}
ul.toc li a {
    padding: 8px 10px;
    display: block;
    width: 100%;
    height: 100%;
    color: #272b30;
}
ul.toc li a:hover {
    text-decoration:none;
    background:#ddd;
}
ul.toc li a.active {
    color: #fff;
background: #a8a8a8; /* Old browsers */
background: -moz-linear-gradient(top,  #a8a8a8 0%, #676767 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8a8a8), color-stop(100%,#676767)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a8a8a8 0%,#676767 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a8a8a8 0%,#676767 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a8a8a8 0%,#676767 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a8a8a8 0%,#676767 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#676767',GradientType=0 ); /* IE6-9 */
}
h3.pagetitle {
    padding-bottom: 5px;
    padding-right: 10px;
    border-bottom: 1px solid #676767;
}

@media (max-width: 979px) {
    .banner {
        margin: 10px -20px;
    }
}

