<ul class="toc">
    <li class="toc-expander"><div>V</div></li>
    <li class="tocheader">
        <ul>
        <li {% if page.url == "/about/" %}class="active"{% endif %}><a href="/about/">About</a></li>
        <li {% if page.url == "/about/governance/" %}class="active"{% endif %}><a href="/about/governance/">Governance</a></li>
        <li {% if page.url == "/about/conduct/" %}class="active"{% endif %}><a href="/about/conduct/">Code of Conduct</a></li>
        <li {% if page.url == "/about/community/" %}class="active"{% endif %}><a href="/about/community/">Community</a></li>
        <li {% if page.url == "/about/contribute/" %}class="active"{% endif %}><a href="/about/contribute/">Contribute</a></li>
        <li {% if page.url == "/about/resources/" %}class="active"{% endif %}><a href="/about/resources/">Resources</a></li>
        </ul>
    </li>
</ul>
<script>
$(function() {
    $(".toc-expander").click(function() {
        if ($("ul.toc").hasClass('open')) {
            $("ul.toc").removeClass('open');
        } else {
            $("ul.toc").addClass('open');
        }
    })
});
</script>
