<ul class="toc">

    <li class="tocheader"><span>API</span>
        <ul>
            <li><a href="/docs/api/index.html" {% if page.url == "/docs/api/index.html" %}class="active"{% endif %}>Overview</a>
        </ul>
    </li>

    <li class="tocheader"><span>Admin HTTP API</span>
        <ul>
            <li><a href="/docs/api/admin/index.html" {% if page.url == "/docs/api/admin/index.html" %}class="active"{% endif %}>Overview</a>
            <li><a href="/docs/api/admin/oauth.html" {% if page.url == "/docs/api/admin/oauth.html" %}class="active"{% endif %}>Authentication</a>
            <li><a href="/docs/api/admin/types.html" {% if page.url == "/docs/api/admin/types.html" %}class="active"{% endif %}>Types</a>
            <li><a href="/docs/api/admin/errors.html" {% if page.url == "/docs/api/admin/errors.html" %}class="active"{% endif %}>Errors</a>
            <li><a href="/docs/api/admin/methods" {% if page.url contains "/docs/api/admin/methods" %}class="active"{% endif %}>Methods</a>
        </ul>
    </li>
    <li class="tocheader"><span>Runtime API</span>
        <ul>
            <li><a href="/docs/api/runtime/index.html" {% if page.url == "/docs/api/runtime/index.html" %}class="active"{% endif %}>Overview</a>
            <li><a href="/docs/api/runtime/api.html" {% if page.url == "/docs/api/runtime/api.html" %}class="active"{% endif %}>API</a>
        </ul>
    </li>
    <li class="tocheader"><span>Storage API</span>
        <ul>
            <li><a href="/docs/api/storage/index.html" {% if page.url == "/docs/api/storage/index.html" %}class="active"{% endif %}>Overview</a>
            <li><a href="/docs/api/storage/methods" {% if page.url contains "/docs/api/storage/methods" %}class="active"{% endif %}>Methods</a>
        </ul>
    </li>
<!--
    <li class="tocheader"><span>Editor API</span>
        <ul>
            <li><a href="/docs/api/editor/index.html" {% if page.url == "/docs/api/editor/index.html" %}class="active"{% endif %}>Overview</a>
        </ul>
    </li>
-->
</ul>
