<ul class="toc">
    <li class="toc-expander">V</li>
    <li class="tocheader"><span>API</span>
        <ul>
            <li {% if page.url == "/docs/api/" %}class="active"{% endif %}><a href="/docs/api/">Overview</a>
        </ul>
    </li>

    <li class="tocheader"><span>Admin HTTP API</span>
        <ul>
            <li {% if page.url == "/docs/api/admin/" %}class="active"{% endif %}><a href="/docs/api/admin/">Overview</a>
            <li {% if page.url == "/docs/api/admin/oauth" %}class="active"{% endif %}><a href="/docs/api/admin/oauth">Authentication</a>
            <li {% if page.url == "/docs/api/admin/types" %}class="active"{% endif %}><a href="/docs/api/admin/types">Types</a>
            <li {% if page.url == "/docs/api/admin/errors" %}class="active"{% endif %}><a href="/docs/api/admin/errors">Errors</a>
            <li {% if page.url contains "/docs/api/admin/methods" %}class="active"{% endif %}><a href="/docs/api/admin/methods">Methods</a>
        </ul>
    </li>
    <li class="tocheader"><span>Runtime API</span>
        <ul>
            <li {% if page.url == "/docs/api/runtime/" %}class="active"{% endif %}><a href="/docs/api/runtime/">Overview</a>
            <li {% if page.url == "/docs/api/runtime/api" %}class="active"{% endif %}><a href="/docs/api/runtime/api">API</a>
        </ul>
    </li>
    <li class="tocheader"><span>Storage API</span>
        <ul>
            <li {% if page.url == "/docs/api/storage/" %}class="active"{% endif %}><a href="/docs/api/storage/">Overview</a>
            <li {% if page.url contains "/docs/api/storage/methods" %}class="active"{% endif %}><a href="/docs/api/storage/methods">Methods</a>
        </ul>
    </li>
    <li class="tocheader"><span>Editor Widgets</span>
        <ul>
            <li {% if page.url == "/docs/api/ui/" %}class="active"{% endif %}><a href="/docs/api/ui/">Overview</a>
            <li {% if page.url == "/docs/api/ui/typedInput" %}class="active"{% endif %}><a href="/docs/api/ui/typedInput">TypedInput</a>
            <li {% if page.url == "/docs/api/ui/editableList" %}class="active"{% endif %}><a href="/docs/api/ui/editableList">EditableList</a>
        </ul>
    </li>
<!--
    <li class="tocheader"><span>Editor API</span>
        <ul>
            <li {% if page.url == "/docs/api/editor" %}class="active"{% endif %}><a href="/docs/api/editor">Overview</a>
        </ul>
    </li>
-->
</ul>

<script>
$(function() {
    $(".toc-expander").click(function() {
        if ($("ul.toc").hasClass('open')) {
            $("ul.toc").removeClass('open');
        } else {
            $("ul.toc").addClass('open');
        }
    })
});
//$(function() {
//    $("li.tocheader ul").hide();
//    $("li.tocheader a.active").parent().parent().show();
//    $("li.tocheader>span").click(function(e) {
//        $(this).next().toggle("fast");
//    });
//});
</script>
