<ul class="toc">
    <li class="toc-expander">V</li>
    <li><a href="/docs/">&larr; back</a></li>
    <li class="tocheader">
        <ul>
            <li class="toctitle active"><a href="/docs/api/">API Reference</a>
        </ul>
    </li>

    <li class="tocheader">
        <ul>
            <li class="toctitle{% if page.url == "/docs/api/admin/" %} active{% endif %}"><a href="/docs/api/admin/">Admin HTTP API</a>
            <li {% if page.url == "/docs/api/admin/oauth" %}class="active"{% endif %}><a href="/docs/api/admin/oauth">Authentication</a>
            <li {% if page.url == "/docs/api/admin/types" %}class="active"{% endif %}><a href="/docs/api/admin/types">Types</a>
            <li {% if page.url == "/docs/api/admin/errors" %}class="active"{% endif %}><a href="/docs/api/admin/errors">Errors</a>
            <li {% if page.url contains "/docs/api/admin/methods" %}class="active"{% endif %}><a href="/docs/api/admin/methods">Methods</a>
        </ul>
    </li>
    <li class="tocheader">
        <ul>
            <li class="toctitle{% if page.url == "/docs/api/runtime/" %} active{% endif %}"><a href="/docs/api/runtime/">Runtime API</a>
            <li {% if page.url == "/docs/api/runtime/api" %}class="active"{% endif %}><a href="/docs/api/runtime/api">API</a>
        </ul>
    </li>
    <li class="tocheader">
        <ul>
            <li class="toctitle{% if page.url == "/docs/api/storage/" %} active{% endif %}"><a href="/docs/api/storage/">Storage API</a>
            <li {% if page.url contains "/docs/api/storage/methods" %}class="active"{% endif %}><a href="/docs/api/storage/methods">Methods</a>
        </ul>
    </li>
    <li class="tocheader">
        <ul>
            <li class="toctitle{% if page.url == "/docs/api/ui/" %} active{% endif %}"><a href="/docs/api/ui/">Editor Widgets</a>
            <li {% if page.url == "/docs/api/ui/typedInput" %}class="active"{% endif %}><a href="/docs/api/ui/typedInput">TypedInput</a>
            <li {% if page.url == "/docs/api/ui/editableList" %}class="active"{% endif %}><a href="/docs/api/ui/editableList">EditableList</a>
        </ul>
    </li>
</ul>
