<ul class="toc">
    <li class="toc-expander"><div>V</div></li>
    <li><a href="/docs/">&larr; back</a></li>
    <li class="tocheader">
        <ul>
            <li class="toctitle active"><a href="/docs/creating-nodes/">Creating Nodes</a></li>
            <li {% if page.url == "/docs/creating-nodes/first-node" %}class="active"{% endif %}><a href="/docs/creating-nodes/first-node">Creating your first node</a></li>
            <li {% if page.url == "/docs/creating-nodes/node-js" %}class="active"{% endif %}><a href="/docs/creating-nodes/node-js">JavaScript File</a></li>
            <li {% if page.url == "/docs/creating-nodes/node-html" %}class="active"{% endif %}><a href="/docs/creating-nodes/node-html">HTML File</a></li>
            <li {% if page.url == "/docs/creating-nodes/context" %}class="active"{% endif %}><a href="/docs/creating-nodes/context">Storing Context</a></li>
            <li {% if page.url == "/docs/creating-nodes/properties" %}class="active"{% endif %}><a href="/docs/creating-nodes/properties">Node properties</a></li>
            <li {% if page.url == "/docs/creating-nodes/credentials" %}class="active"{% endif %}><a href="/docs/creating-nodes/credentials">Node credentials</a></li>
            <li {% if page.url == "/docs/creating-nodes/appearance" %}class="active"{% endif %}><a href="/docs/creating-nodes/appearance">Node appearance</a></li>
            <li {% if page.url == "/docs/creating-nodes/status" %}class="active"{% endif %}><a href="/docs/creating-nodes/status">Node status</a></li>
            <li {% if page.url == "/docs/creating-nodes/config-nodes" %}class="active"{% endif %}><a href="/docs/creating-nodes/config-nodes">Configuration nodes</a></li>
            <li {% if page.url == "/docs/creating-nodes/packaging" %}class="active"{% endif %}><a href="/docs/creating-nodes/packaging">Packaging</a></li>
            <li {% if page.url == "/docs/creating-nodes/i18n" %}class="active"{% endif %}><a href="/docs/creating-nodes/i18n">Internationalisation</a></li>
        </ul>
    </li>
</ul>
