<ul class="toc">
    <li class="toc-expander"><div>V</div></li>
    <li><a href="/docs/">&larr; back</a></li>
    <li class="tocheader">
        <ul>
            <li class="toctitle active"><a href="/docs/developing-flows/">Developing Flows</a></li>
            <li {% if page.url == "/docs/developing-flows/designing" %}class="active"{% endif %}><a href="/docs/developing-flows/designing">Designing</a></li>
            <li {% if page.url == "/docs/developing-flows/implementation" %}class="active"{% endif %}><a href="/docs/developing-flows/implementation">Implementation</a></li>
            <li {% if page.url == "/docs/developing-flows/readability" %}class="active"{% endif %}><a href="/docs/developing-flows/readability">Readability</a></li>
            <li {% if page.url == "/docs/developing-flows/multiple-developers" %}class="active"{% endif %}><a href="/docs/developing-flows/multiple-developers">Project</a></li>
            <li {% if page.url == "/docs/developing-flows/non-functional" %}class="active"{% endif %}><a href="/docs/developing-flows/non-functional">Strict non-functional requirements</a></li>
        </ul>
    </li>
</ul>
