<li><a href="/docs/index.html" {% if page.url == "/docs/index.html" %}class="active"{% endif %}><i class="icon icon-caret-right"></i> Documentation</a></li>
<li><a href="/docs/getting-started.html" {% if page.url == "/docs/getting-started.html" %}class="active"{% endif %}><i class="icon icon-caret-right"></i> Getting Started</a></li>
<li><a href="/docs/configuration.html" {% if page.url == "/docs/configuration.html" %}class="active"{% endif %}><i class="icon icon-caret-right"></i> Configuration</a></li>
<li><a href="/docs/writing-functions.html" {% if page.url == "/docs/writing-functions.html" %}class="active"{% endif %}><i class="icon icon-caret-right"></i> Writing Functions</a></li>
<li><a href="/docs/creating-nodes.html" {% if page.url == "/docs/creating-nodes.html" %}class="active"{% endif %}><i class="icon icon-caret-right"></i> Creating Nodes</a></li>
