<ul class="toc">
    <li class="toc-expander"><div>V</div></li>
    <li class="tocheader"><span>Documentation</span>
        <ul>
            <li {% if page.url == "/docs/" %}class="active"{% endif %}><a href="/docs/">Overview</a>
        </ul>
    </li>
    <li class="tocheader"><span>Getting Started</span>
        <ul>
            <li {% if page.url == "/docs/getting-started/installation" %}class="active"{% endif %}><a href="/docs/getting-started/installation">Installation</a>
            <li {% if page.url == "/docs/getting-started/running" %}class="active"{% endif %}><a href="/docs/getting-started/running">Running</a>
            <li {% if page.url == "/docs/getting-started/adding-nodes" %}class="active"{% endif %}><a href="/docs/getting-started/adding-nodes">Adding Nodes</a>
            <li {% if page.url == "/docs/getting-started/upgrading" %}class="active"{% endif %}><a href="/docs/getting-started/upgrading">Upgrading</a>
            <li {% if page.url == "/docs/getting-started/first-flow" %}class="active"{% endif %}><a href="/docs/getting-started/first-flow">Creating your first flow</a>
            <li {% if page.url == "/docs/getting-started/second-flow" %}class="active"{% endif %}><a href="/docs/getting-started/second-flow">Creating your second flow</a>
        </ul>
    </li>
    <li class="tocheader"><span>Using Node-RED</span>
        <ul>
            <li {% if page.url == "/docs/configuration" %}class="active"{% endif %}><a href="/docs/configuration">Configuration</a></li>
            <li {% if page.url == "/docs/security" %}class="active"{% endif %}><a href="/docs/security">Security</a></li>
            <li {% if page.url == "/docs/node-red-admin" %}class="active"{% endif %}><a href="/docs/node-red-admin">Command-line Admin</a></li>
            <li {% if page.url == "/docs/writing-functions" %}class="active"{% endif %}><a href="/docs/writing-functions">Writing Functions</a></li>
            <li {% if page.url == "/docs/embedding" %}class="active"{% endif %}><a href="/docs/embedding">Embedding into an existing app</a></li>
        </ul>
    </li>
    <li class="tocheader"><span>Platforms</span>
        <ul>
        <li class="tocsubheader"><span>Devices</span></li>
            <li {% if page.url == "/docs/hardware/raspberrypi" %}class="active"{% endif %}><a href="/docs/hardware/raspberrypi">Raspberry Pi</a>
            <li {% if page.url == "/docs/hardware/beagleboneblack" %}class="active"{% endif %}><a href="/docs/hardware/beagleboneblack">BeagleBone Black</a>
        <li class="tocsubheader"><span>Cloud</span></li>
            <li {% if page.url == "/docs/platforms/bluemix" %}class="active"{% endif %}><a href="/docs/platforms/bluemix">IBM Bluemix</a>
            <li {% if page.url == "/docs/platforms/aws" %}class="active"{% endif %}><a href="/docs/platforms/aws">Amazon Web Services</a>
            <li {% if page.url == "/docs/platforms/azure" %}class="active"{% endif %}><a href="/docs/platforms/azure">Microsoft Azure</a>
        <li class="tocsubheader"><span>Other</span></li>
            <li {% if page.url == "/docs/platforms/android" %}class="active"{% endif %}><a href="/docs/platforms/android">Android</a>
            <li {% if page.url == "/docs/hardware/arduino" %}class="active"{% endif %}><a href="/docs/hardware/arduino">Arduino</a>
            <li {% if page.url == "/docs/platforms/docker" %}class="active"{% endif %}><a href="/docs/platforms/docker">Docker</a>
            <li {% if page.url == "/docs/platforms/windows" %}class="active"{% endif %}><a href="/docs/platforms/windows">Windows</a>
        </ul>
    </li>
    <li class="tocheader"><span>API</span>
        <ul>
            <li><a href="/docs/api/">Overview</a>
        </ul>
    </li>
    <li class="tocheader"><span>Creating Nodes</span>
        <ul>
            <li {% if page.url == "/docs/creating-nodes/index" %}class="active"{% endif %}><a href="/docs/creating-nodes/">Overview</a></li>
            <li {% if page.url == "/docs/creating-nodes/first-node" %}class="active"{% endif %}><a href="/docs/creating-nodes/first-node">Creating your first node</a></li>
            <li {% if page.url == "/docs/creating-nodes/node-js" %}class="active"{% endif %}><a href="/docs/creating-nodes/node-js">JavaScript File</a>
            <li {% if page.url == "/docs/creating-nodes/node-html" %}class="active"{% endif %}><a href="/docs/creating-nodes/node-html">HTML File</a>
            <li {% if page.url == "/docs/creating-nodes/context" %}class="active"{% endif %}><a href="/docs/creating-nodes/context">Storing Context</a></li>
            <li {% if page.url == "/docs/creating-nodes/properties" %}class="active"{% endif %}><a href="/docs/creating-nodes/properties">Node properties</a></li>
            <li {% if page.url == "/docs/creating-nodes/credentials" %}class="active"{% endif %}><a href="/docs/creating-nodes/credentials">Node credentials</a></li>
            <li {% if page.url == "/docs/creating-nodes/appearance" %}class="active"{% endif %}><a href="/docs/creating-nodes/appearance">Node appearance</a></li>
            <li {% if page.url == "/docs/creating-nodes/status" %}class="active"{% endif %}><a href="/docs/creating-nodes/status">Node status</a></li>
            <li {% if page.url == "/docs/creating-nodes/config-nodes" %}class="active"{% endif %}><a href="/docs/creating-nodes/config-nodes">Configuration nodes</a></li>
            <li {% if page.url == "/docs/creating-nodes/packaging" %}class="active"{% endif %}><a href="/docs/creating-nodes/packaging">Packaging</a></li>
            <li {% if page.url == "/docs/creating-nodes/i18n" %}class="active"{% endif %}><a href="/docs/creating-nodes/i18n">Internationalisation</a></li>
        </ul>
    </li>
</ul>
{% include toc-footer.html %}
