<ul class="toc">
    <li class="toc-expander"><div>V</div></li>
    <li><a href="/docs/user-guide">&larr; back</a></li>
    <li class="tocheader">
        <ul>
            <li class="toctitle active"><a href="/docs/user-guide/editor">Editor Guide</a></li>
            <li {% if page.url == "/docs/user-guide/editor/workspace/" %}class="active"{% endif %}><a href="/docs/user-guide/editor/workspace">Workspace</a></li>
            <li {% if page.url == "/docs/user-guide/editor/workspace/flows" %}class="active"{% endif %}><a href="/docs/user-guide/editor/workspace/flows" style="padding-left: 60px;">Flows</a></li>
            <li {% if page.url == "/docs/user-guide/editor/workspace/nodes" %}class="active"{% endif %}><a href="/docs/user-guide/editor/workspace/nodes" style="padding-left: 60px;">Nodes</a></li>
            <li {% if page.url == "/docs/user-guide/editor/workspace/wires" %}class="active"{% endif %}><a href="/docs/user-guide/editor/workspace/wires" style="padding-left: 60px;">Wires</a></li>
            <li {% if page.url == "/docs/user-guide/editor/workspace/subflows" %}class="active"{% endif %}><a href="/docs/user-guide/editor/workspace/subflows" style="padding-left: 60px;">Subflows</a></li>
            <li {% if page.url == "/docs/user-guide/editor/workspace/selection" %}class="active"{% endif %}><a href="/docs/user-guide/editor/workspace/selection" style="padding-left: 60px;">Selection</a></li>
            <li {% if page.url == "/docs/user-guide/editor/workspace/import-export" %}class="active"{% endif %}><a href="/docs/user-guide/editor/workspace/import-export" style="padding-left: 60px;">Import/Export</a></li>
            <li {% if page.url == "/docs/user-guide/editor/workspace/search" %}class="active"{% endif %}><a href="/docs/user-guide/editor/workspace/search" style="padding-left: 60px;">Search</a></li>
            <li {% if page.url == "/docs/user-guide/editor/palette/" %}class="active"{% endif %}><a href="/docs/user-guide/editor/palette/">Palette</a></li>
            <!-- <li {% if page.url == "/docs/user-guide/editor/palette/manager" %}class="active"{% endif %}><a href="/docs/user-guide/editor/palette/manager" style="padding-left: 60px;">Palette Manager</a></li> -->
            <li {% if page.url == "/docs/user-guide/editor/sidebar" %}class="active"{% endif %}><a href="/docs/user-guide/editor/sidebar">Sidebar</a></li>
            <li {% if page.url == "/docs/user-guide/editor/sidebar/info" %}class="active"{% endif %}><a href="/docs/user-guide/editor/sidebar/info" style="padding-left: 60px;">Information</a></li>
            <li {% if page.url == "/docs/user-guide/editor/sidebar/debug" %}class="active"{% endif %}><a href="/docs/user-guide/editor/sidebar/debug" style="padding-left: 60px;">Debug</a></li>
            <li {% if page.url == "/docs/user-guide/editor/sidebar/config" %}class="active"{% endif %}><a href="/docs/user-guide/editor/sidebar/config" style="padding-left: 60px;">Config nodes</a></li>
            <li {% if page.url == "/docs/user-guide/editor/sidebar/context" %}class="active"{% endif %}><a href="/docs/user-guide/editor/sidebar/context" style="padding-left: 60px;">Context data</a></li>
            <!-- <li {% if page.url == "/docs/user-guide/editor/settings" %}class="active"{% endif %}><a href="/docs/user-guide/editor/settings">Settings</a></li> -->
            <!-- <li {% if page.url == "/docs/user-guide/editor/settings/view" %}class="active"{% endif %}><a href="/docs/user-guide/editor/settings/view" style="padding-left: 60px;">View</a></li> -->
            <!-- <li {% if page.url == "/docs/user-guide/editor/settings/keyboard" %}class="active"{% endif %}><a href="/docs/user-guide/editor/settings/keyboard" style="padding-left: 60px;">Keyboard</a></li> -->
            <!-- <li {% if page.url == "/docs/user-guide/editor/editors" %}class="active"{% endif %}><a href="/docs/user-guide/editor/editors">Type Editors</a></li> -->
            <!-- <li {% if page.url == "/docs/user-guide/editor/editors/buffer" %}class="active"{% endif %}><a href="/docs/user-guide/editor/editors/buffer" style="padding-left: 60px;">Buffer</a></li> -->
            <!-- <li {% if page.url == "/docs/user-guide/editor/editors/js" %}class="active"{% endif %}><a href="/docs/user-guide/editor/editors/js" style="padding-left: 60px;">JavaScript</a></li> -->
            <!-- <li {% if page.url == "/docs/user-guide/editor/editors/json" %}class="active"{% endif %}><a href="/docs/user-guide/editor/editors/json" style="padding-left: 60px;">JSON</a></li> -->
            <!-- <li {% if page.url == "/docs/user-guide/editor/editors/jsonata" %}class="active"{% endif %}><a href="/docs/user-guide/editor/editors/jsonata" style="padding-left: 60px;">JSONata expression</a></li> -->
        </ul>
    </li>
</ul>
