<div class="links">
    <div class="grid">
        <div class="col-1-4">
            <p><a href="https://nodered.org">Node-RED</a>: Low-code programming for event-driven applications.</p>
        </div>
        <div class="col-1-4">
            <ul>
                <li><a href="https://github.com/node-red">GitHub</a></li>
                <li><a href="https://www.npmjs.com/package/node-red">npm</a></li>
                <li><a href="/docs">Documentation</a></li>
                <li><a href="/docs/api">APIs</a></li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li><a href="https://flows.nodered.org">Flow Library</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/about/conduct">Code of Conduct</a></li>
                <li><a href="/about/community">Community</a></li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="https://twitter.com/nodered">Twitter</a></li>
                <li><a href="https://discourse.nodered.org">Forum</a></li>
                <li><a href="/slack">Slack</a></li>
                <li><a rel="me" href="https://social.nodered.org/@nodered">Mastodon</a></li>
            </ul>
        </div>
    </div>
    <div class="grid openjs">
        <div class="col-1-4">
            <a href="https://openjsf.org"><img class="openjs-logo" src="https://nodered.org/images/openjs_foundation-logo.svg" /></a>
        </div>
        <div class="col-3-4">
            <p>Copyright <a href="https://openjsf.org">OpenJS Foundation</a> and Node-RED contributors. All rights reserved. The <a href="https://openjsf.org">OpenJS Foundation</a> has registered trademarks and uses trademarks.  For a list of trademarks of the <a href="https://openjsf.org">OpenJS Foundation</a>, please see our <a href="https://trademark-policy.openjsf.org">Trademark Policy</a> and <a href="https://trademark-list.openjsf.org">Trademark List</a>.  Trademarks and logos not indicated on the <a href="https://trademark-list.openjsf.org">list of OpenJS Foundation trademarks</a> are trademarks&trade; or registered&reg; trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them.</p>
            <p><a href="https://openjsf.org">The OpenJS Foundation</a> | <a href="https://terms-of-use.openjsf.org">Terms of Use</a> | <a href="https://privacy-policy.openjsf.org">Privacy Policy</a> | <a href="https://bylaws.openjsf.org">OpenJS Foundation Bylaws</a> | <a href="https://trademark-policy.openjsf.org">Trademark Policy</a> | <a href="https://trademark-list.openjsf.org">Trademark List</a> | <a href="https://www.linuxfoundation.org/cookies">Cookie Policy</a></p>
        </div>
    </div>
</div>
<script>
 $(function() {
    $(".menu").on("click", function(e) {
        var s = $(".navigation").slideToggle('hide');
        e.preventDefault();
    });
  });
</script>
<script defer data-domain="nodered.org" src="https://plausible.io/js/plausible.js"></script>
</body>
</html>
