<ul class="toc">
    <li class="toc-expander"><div>V</div></li>
    <li><a href="/docs/">&larr; back</a></li>
    <li class="tocheader">
        <ul>
            <li class="toctitle active"><a href="/docs/getting-started/">Getting Started</a></li>
            <li {% if page.url == "/docs/getting-started/installation" %}class="active"{% endif %}><a href="/docs/getting-started/installation">Installation</a></li>
            <li {% if page.url == "/docs/getting-started/running" %}class="active"{% endif %}><a href="/docs/getting-started/running">Running</a></li>
            <li {% if page.url == "/docs/getting-started/adding-nodes" %}class="active"{% endif %}><a href="/docs/getting-started/adding-nodes">Adding Nodes</a></li>
            <li {% if page.url == "/docs/getting-started/upgrading" %}class="active"{% endif %}><a href="/docs/getting-started/upgrading">Upgrading</a></li>
            <li {% if page.url == "/docs/getting-started/first-flow" %}class="active"{% endif %}><a href="/docs/getting-started/first-flow">Creating your first flow</a></li>
            <li {% if page.url == "/docs/getting-started/second-flow" %}class="active"{% endif %}><a href="/docs/getting-started/second-flow">Creating your second flow</a></li>
        </ul>
    </li>

    <li class="tocheader">
        <ul>
            <li {% if page.url == "/docs/platforms/docker" %}class="active"{% endif %}><a href="/docs/platforms/docker">Docker</a></li>
            <li {% if page.url == "/docs/platforms/windows" %}class="active"{% endif %}><a href="/docs/platforms/windows">Windows</a></li>
        </ul>
    </li>

    <li class="tocheader">
        <ul>
            <li class="toctitle"><span>On a device</span></li>
            <li {% if page.url == "/docs/hardware/raspberrypi" %}class="active"{% endif %}><a href="/docs/hardware/raspberrypi">Raspberry Pi</a></li>
            <li {% if page.url == "/docs/hardware/beagleboneblack" %}class="active"{% endif %}><a href="/docs/hardware/beagleboneblack">BeagleBone Black</a></li>
            <li {% if page.url == "/docs/platforms/android" %}class="active"{% endif %}><a href="/docs/platforms/android">Android</a></li>
            <li {% if page.url == "/docs/hardware/arduino" %}class="active"{% endif %}><a href="/docs/hardware/arduino">Arduino</a></li>
            </ul>
        </li>

        <li class="tocheader">
            <ul>
            <li class="toctitle"><span>In the cloud</span></li>
            <li {% if page.url == "/docs/platforms/bluemix" %}class="active"{% endif %}><a href="/docs/platforms/bluemix">IBM Bluemix</a></li>
            <li><a href="https://fred.sensetecnic.com/">SenseTecnic FRED</a></li>
            <li {% if page.url == "/docs/platforms/aws" %}class="active"{% endif %}><a href="/docs/platforms/aws">Amazon Web Services</a></li>
            <li {% if page.url == "/docs/platforms/azure" %}class="active"{% endif %}><a href="/docs/platforms/azure">Microsoft Azure</a></li>
        </ul>
    </li>
</ul>
