<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{ page.title }} : {% endif %}Node-RED</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

	<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<script src="/jquery/js/jquery-1.9.1.js"></script>
	<link href="/css/simplegrid.css?d=20200825" rel="stylesheet" media="screen">
	<link href="/css/style.css?d=20200825" rel="stylesheet" media="screen">
	<link href="/css/front.css?d=20200825" rel="stylesheet" media="screen">
	<link href="/css/docs.css?d=20200825" rel="stylesheet" media="screen">
	<link href="/css/blog.css?d=20200825" rel="stylesheet" media="screen">
	<link href="/css/syntax.css?d=20211008" rel="stylesheet" media="screen">
	<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" />
	{% if page.layout == 'blog' %}<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@nodered" />
	<meta name="twitter:title" content="{{ page.title | xml_escape }}" />
	{% if page.image %}
	<meta name="twitter:image" content="{{ site.github.url }}{{ page.image }}" />
	<meta property="og:image" content="{{ site.github.url }}{{ page.image }}" />
	{% else %}
	<meta name="twitter:image" content="https://nodered.org/node-red-icon.png" />
	<meta property="og:image" content="https://nodered.org/node-red-icon.png" />
    {% endif %}
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.github.url }}{{ page.url }}" />
	<meta property="og:title" content="{{ page.title | xml_escape }}" />
	{% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
	<meta property="og:description" content="{{ page.description }}" />
	{% else %}
	<meta name="twitter:description" content="Find out more on the blog" />
	<meta property="og:description" content="Find out more on the blog" />
    {% endif %}


	{% endif %}
</head>
<body>
<!-- <div class="banner">
	<a href="" class="banner-content">
		📆 <strong>Last chance!</strong> Join 1.5K+ makers & pros for a full day of Node-RED talks · Hobby → Production · Free &raquo;
	</a>
</div> -->
<div class="header">
    <div class="header-content">
        <div class="brand"><a href="/">Node-RED</a></div>
        <ul class="navigation">
            <li {% if page.url == "/" %}class="current"{% endif %}><a href="/">home</a></li>
            <li {% if page.url contains '/about/' %}class="current"{% endif %}><a href="/about/">about</a></li>
            <li {% if page.url contains '/blog/' %}class="current"{% endif %}><a href="/blog/">blog</a></li>
            <li {% if page.url contains '/docs/' %}class="current"{% endif %}><a href="/docs/">documentation</a></li>
            <li><a href="https://discourse.nodered.org/">forum</a></li>
            <li><a href="https://flows.nodered.org/">flows</a></li>
            <li><a href="https://github.com/node-red">github</a></li>
        </ul>
        <a href="#" class="menu"><i class="fa fa-reorder fa-2x"></i></a>
    </div>
</div>
