<ul class="toc">
    <li class="toc-expander"><div>V</div></li>
    <li><a href="/docs/">&larr; back</a></li>
    <li class="tocheader">
        <ul>
            <li class="toctitle active"><a href="/docs/practice/">Practice</a></li>
            <li {% if page.url == "/docs/practice/designing" %}class="active"{% endif %}><a href="/docs/practice/designing">Designing</a></li>
            <li {% if page.url == "/docs/practice/implementation" %}class="active"{% endif %}><a href="/docs/practice/implementation">Implementation</a></li>
            <li {% if page.url == "/docs/practice/readability" %}class="active"{% endif %}><a href="/docs/practice/readability">Readability</a></li>
            <li {% if page.url == "/docs/practice/multiple-developers" %}class="active"{% endif %}><a href="/docs/practice/multiple-developers">Project</a></li>
            <li {% if page.url == "/docs/practice/non-functional" %}class="active"{% endif %}><a href="/docs/practice/non-functional">Strict non-functional requirements</a></li>
        </ul>
    </li>
</ul>
