<ul class="toc">
    <li class="toc-expander"><i class="fa fa-caret-down"></i></li>
    <li class="tocheader">
        <ul>
            <li class="{% if page.url == "/docs/api/ui/" %} active{% endif %}"><a href="/docs/api/ui/">Editor</a></li>
            <li><a style="text-decoration: none !important; font-weight: bold">APIs</a></li>
            <li {% if page.url contains "/docs/api/ui/actions" %}class="active"{% endif %}><a href="/docs/api/ui/actions">RED.actions</a></li>
            <li {% if page.url contains "/docs/api/ui/events" %}class="active"{% endif %}><a href="/docs/api/ui/events">RED.events</a></li>
            <li {% if page.url contains "/docs/api/ui/notifications" %}class="active"{% endif %}><a href="/docs/api/ui/notifications">RED.notify</a></li>
            <li {% if page.url contains "/docs/api/ui/sidebar" %}class="active"{% endif %}><a href="/docs/api/ui/sidebar">RED.sidebar</a></li>
            <li><a style="text-decoration: none !important; font-weight: bold">Widgets</a></li>
            <li {% if page.url contains "/docs/api/ui/autoComplete" %}class="active"{% endif %}><a href="/docs/api/ui/autoComplete">AutoComplete</a></li>
            <li {% if page.url contains "/docs/api/ui/editableList" %}class="active"{% endif %}><a href="/docs/api/ui/editableList">EditableList</a></li>
            <li {% if page.url contains "/docs/api/ui/searchBox" %}class="active"{% endif %}><a href="/docs/api/ui/searchBox">SearchBox</a></li>
            <li {% if page.url contains "/docs/api/ui/treeList" %}class="active"{% endif %}><a href="/docs/api/ui/treeList">TreeList</a></li>
            <li {% if page.url contains "/docs/api/ui/typedInput" %}class="active"{% endif %}><a href="/docs/api/ui/typedInput">TypedInput</a></li>
            <li><a style="text-decoration: none !important; font-weight: bold">Themes</a></li>
            <li {% if page.url contains "/docs/api/ui/themes" %}class="active"{% endif %}><a href="/docs/api/ui/themes">Theme Plugins</a></li>
        </ul>
    </li>
</ul>
