&nbsp;
<script>
$(function() {
    var TOC = $("ul.toc");

    $(".toc-expander").click(function() {
        if (TOC.hasClass('open')) {
            TOC.removeClass('open');
        } else {
            TOC.addClass('open');
        }
    })

    var fixed = false;
    $(window).on("scroll", function(e) {
        if ($(window).scrollTop() > 140) {
            if (!fixed) {
                TOC.addClass("fixed-toc");
                TOC.width(TOC.parent().width());
                fixed = true;
            }
        } else {
            if (fixed) {
                TOC.removeClass("fixed-toc");
                TOC.width(TOC.parent().width());
                fixed = false;
            }
        }

    });

    var positions = [];
    var windowHeight;
    var currentItem;


    function resizeWindow() {
        TOC.width(TOC.parent().width());
        calculatePositions();
        windowHeight = $(window).height();
    }
    function calculatePositions() {
        positions = [];
        $(".docs-content > div >  h3,.docs-content > div >  h4").each(function() {
            positions.push({
                el: $("#toc-item-"+$(this).attr('id')),
                orig: $(this),
                pos: $(this).offset().top +parseInt($(this).css("marginTop"))
            });
        });
    }

    function getCurrentItem() {
        if (positions.length === 0) {
            return;
        }
        var top = $(window).scrollTop();
        var previous = positions[0].el;
        for (var i=0;i<positions.length;i++) {
            if (positions[i].pos > top) {
                if (positions[i].pos-top < windowHeight/2 ) {
                    return positions[i].el;
                } else {
                    return previous;
                }
            }
            previous = positions[i].el;
        }
    }
    function scrollWindow() {
        var targetItem = getCurrentItem();
        if (targetItem !== currentItem) {
            if (currentItem) {
                currentItem.removeClass("active");
            }
            currentItem = targetItem;
            if (currentItem) {
                currentItem.addClass("active");
            }
        }
    }
    $(window).resize(resizeWindow);
    $(window).on("scroll",scrollWindow);
    setTimeout(function() {
        resizeWindow();
        scrollWindow();
    },500);

});
</script>
