        <ul class="news">
            <li><span class="post-title"><a href="http://blog.nodered.org/version-0-4-0-released/">Version 0.4.0 released</a></span> &bull; <span class="post-date">14 Nov</span></li>
            <li><span class="post-title"><a href="http://blog.nodered.org/version-0-3-0-released/">Version 0.3.0 released</a></span> &bull; <span class="post-date">31 Oct</span></li>
            <li><span class="post-title"><a href="http://blog.nodered.org/internet-of-things-messaging-hangout/">Internet of Things Messaging Hangout</a></span> &bull; <span class="post-date">21 Oct</span></li>
            <li><span class="post-title"><a href="http://blog.nodered.org/version-0-2-0-released/">Version 0.2.0 released</a></span> &bull; <span class="post-date">16 Oct</span></li>
        </ul>
