        <ul class="news">
            <li><span class="post-title"><a href="http://blog.nodered.org/2014/02/21/version-0-6-0-released/">Version 0.6.0 released</a></span> &bull; <span class="post-date">21 Feb 2014</span></li>
            <li><span class="post-title"><a href="http://blog.nodered.org/2014/01/22/community-news/">Community News</a></span> &bull; <span class="post-date">14 Jan 2014</span></li>
            <li><span class="post-title"><a href="http://blog.nodered.org/2013/12/21/version-0-5-0-released/">Version 0.5.0 released</a></span> &bull; <span class="post-date">21 Dec 2013</span></li>
            <li><span class="post-title"><a href="http://blog.nodered.org/2013/11/14/version-0-4-0-released/">Version 0.4.0 released</a></span> &bull; <span class="post-date">14 Nov 2013</span></li>
            <li><span class="post-title"><a href="http://blog.nodered.org/2013/10/31/version-0-3-0-released/">Version 0.3.0 released</a></span> &bull; <span class="post-date">31 Oct 2013</span></li>
            <li><span class="post-title"><a href="http://blog.nodered.org/2013/10/21/internet-of-things-messaging-hangout/">Internet of Things Messaging Hangout</a></span> &bull; <span class="post-date">21 Oct 2013</span></li>
            <li><span class="post-title"><a href="http://blog.nodered.org/2013/10/16/version-0-2-0-released/">Version 0.2.0 released</a></span> &bull; <span class="post-date">16 Oct 2013</span></li>
        </ul>
