<ul class="toc">
    <li class="toc-expander"><div>V</div></li>
    <li><a href="/docs/">&larr; back</a></li>
    <li class="tocheader">
        <ul>
            <li class="toctitle active"><a href="/docs/user-guide/">User Guide</a></li>
            <li {% if page.url == "/docs/configuration" %}class="active"{% endif %}><a href="/docs/configuration">Configuration</a></li>
            <li {% if page.url == "/docs/security" %}class="active"{% endif %}><a href="/docs/security">Security</a></li>
            <li {% if page.url == "/docs/user-guide/logging" %}class="active"{% endif %}><a href="/docs/user-guide/logging">Logging</a></li>
            <li {% if page.url == "/docs/user-guide/projects" %}class="active"{% endif %}><a href="/docs/user-guide/projects">Working with projects</a></li>
            <li {% if page.url == "/docs/node-red-admin" %}class="active"{% endif %}><a href="/docs/node-red-admin">Command-line Admin</a></li>
            <li {% if page.url == "/docs/writing-functions" %}class="active"{% endif %}><a href="/docs/writing-functions">Writing Functions</a></li>
            <li {% if page.url == "/docs/embedding" %}class="active"{% endif %}><a href="/docs/embedding">Embedding into an existing app</a></li>
        </ul>
    </li>
</ul>
