{% include header.html %}
{% assign top_url = '/blog' %}
{% assign top_slug = 'blog' %}
{% assign author = site.authors[page.author] %}
<div class="docs">
    {% include breadcrumbs.html %}
  <div class="grid docs-content">
    <div class="col-2-12 sidebar">
    </div>
    <div class="col-8-12">
        <div class="post-header">
          <h2 class="post-title">{{ page.title }}</h2>
          <div class="post-meta">{{ page.date | date_to_long_string }}{% if author %} &bull; <a href="{{author.url}}">{{author.display_name}}</a>{% endif %}</div>
        </div>
        <div class="post-content">
            {{ content }}
        </div>
        <div class="post-footer">
            To comment or leave feedback on this post, get in contact on
            the <a href="https://discourse.nodered.org">forum</a>
            or join the conversation on <a href="/slack">Slack</a>.
        </div>
    </div>
    <div class="col-2-12 docs-content sidebar">
    </div>
  </div>
</div>
<script>
$(function() {
    $('.post-content img').css('cursor', 'zoom-in').on('click', function() {
        var src = $(this).attr('src');
        $('<div id="lightbox" style="position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.9);z-index:9999;display:flex;align-items:center;justify-content:center;cursor:zoom-out">' +
          '<img src="' + src + '" style="max-width:95%;max-height:95%">' +
          '</div>').appendTo('body').on('click', function() { $(this).remove(); });
    });
});
</script>
{% include footer.html %}
