{% include header.html %}
<div class="docs">
  <div class="grid">
    <div class="col-3-12">
    {% include docs-toc.html %}
    </div>
    <div class="col-9-12">
      <div class="docs-content">
        <h1 class="docs-title">{{ page.title }}</h1>
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="footer">
    <div class="grid">
        <div class="content">
            <a class="link-icon" href="http://github.com/node-red/node-red"><i class="icon-github icon-2x"></i></a>
            <a class="link-icon" href="http://twitter.com/nodered"><i class="icon-twitter icon-2x"></i></a>
            <a class="link-icon" href="https://groups.google.com/forum/#!forum/node-red"><i class="icon-envelope icon-2x"></i></a>
            <a class="link-icon" href="http://blog.nodered.org/rss"><i class="icon-rss icon-2x"></i></a>
            <div class="ets-link"><a href="http://ibm.com/blogs/et">Node-RED is a creation of IBM Emerging Technology</a></div>
            <div class="ets-link"><a href="http://ibm.com/blogs/et"><img class="ets-globe" src="/images/ets-globe.png" /> </a></div>
        </div>
    </div>
</div>

{% include footer.html %}
